---
import Footer from '../components/Footer.astro'
import Menu from '../components/Menu.astro'
import '../styles/global.css'

interface Props {
  title: string
  description?: string
}

const { title, description = 'Firetecom' } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden">
    <Menu />
    <slot />
    <Footer />
  </body>
</html>
