---
---

<div class="relative py-8">
  <div class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-gradient-to-r from-transparent via-red-500/30 to-transparent"></div>
  <div
    class="absolute left-1/2 top-1/2 size-1.5 -translate-x-1/2 -translate-y-1/2 rotate-45 bg-brand/50 shadow-sm shadow-red-500/30"
  >
  </div>
</div>
